<header>
    <div class="container-content">
        <div class="header-content">
            <a href="index.html" class="header-logo">
                <img src="./img/logo.png" alt="Kochwelt Logo">
            </a>
            <a href="../../index.html" class="header-logo">
                <img src="../../img/arrow-black.png" alt="return to profile img"><br>Return to Portfolio</a>
            <nav>
                <a href="index.html">Start</a>
                <a href="kontakt.html">Kontakt</a>
                <a href="impressum.html">Impressum</a>
            </nav>

            <!-- Mobile Menu -->
            <button class="header__button" id="btnNav">
                <span class="material-icons-outlined">menu</span>
            </button>
        </div>
    </div>

    <!-- Mobile Menu Links -->
    <div class="mobile-nav" id="mobilenav">
        <div class="nav__links" id="navlinksmobile">
            <a class="nav__link" href="index.html"><span class="material-icons-outlined ">home</span>Startseite</a>
            <a class="nav__link" href="kontakt.html"><span class="material-icons-outlined">email</span>Kontakt</a>
            <a class="nav__link" href="impressum.html"><span class="material-icons-outlined">contact_phone</span>Impressum</a>
            <a class="nav__link" href="datenschutzerklaerung.html"><span class="material-icons-outlined">receipt</span>Datenschutzerklärung</a>
        </div>
            
        <div onclick="removeOverlay()" class="nav__overlay" id="navoverlay"></div>
    </div>
</header>