<div class="home-section-container index-column-reverse">

    <div class="home-img">
        <img class = "article-img" src="./img/ilja/cooking.jpg" alt="">
    </div>

    <div class="excerpt">
        <div>
            <h2>Gemeinsam kochen ist die Hölle: Warum ich lieber allein koche</h2>
            <p>
                Ob mit dem Partner, mit Freundinnen, mit Fremden oder mit dem Date: Gemeinsam kochen ist die Hölle. Ein Wutausbruch nach Packungsanweisung.            </p>
        </div>
        <a href="artikel.html" class="button">Lesen Sie mehr...</a>
    </div>

    
</div>