
 <div class = "weekly-recipes">
    <h2>Rezepte der Woche</h2>
</div>

<div class="section-ilja-container">

    <div class="image-links">
        <a href="rezeptilja.html">
            <img src="./img/ilja/pfannkuchen.png" alt="">
            <span>Leckere Pfannkuchen</span>
        </a>
    </div>

    <div class="image-links">
        <a href="rezeptchristoph.html">
            <img src="./img/christoph/spiegelei1000.jpg" alt="">
            <span>Spiegelei mit Speck</span>
        </a>
    </div>

    <div class="image-links">
        <a href="rezeptryan.html">
            <img src="./img/ryan/maccheese.jpeg" alt="">
            <span>US-Klassiker Mac'n Cheese</span>
        </a>

    </div>
</div>