<div class="home-section-container">
    <div class="excerpt">
        <div>
            <h2>Spiegelei mit Speck</h2>
            <p>
                Nichts für Schreibtisch-Hengste! Das Frühstück für knallhafte Holzfällerinnen und Holzfäller, die eine 12-Stunden Schicht vor sich haben. Abgerundet mit Salz, Pfeffer und paar Salatblättchen. 
            </p>
        </div>
        <a href="rezeptchristoph.html" class="button">Lesen Sie mehr...</a>
    </div>

    <div class="home-img">
        <a href="rezeptchristoph.html">
            <img src="./img/christoph/spiegelei1000.jpg" alt="">
        </a>
    </div>
</div>