<div class="home-section-container">
    <div class="excerpt">
        <div>
            <h2>Italienischer Pizzateig</h2>
            <p>
                Wie bei meinem Lieblingsitaliener! Leckeren Pizzateig machen geht einfacher als du denkst.
            </p>
        </div>
        <a href="rezeptilja2.html" class="button">Lesen Sie mehr...</a>
    </div>

    <div class="home-img">
        <a href="rezeptilja2.html">
            <img src="./img/ilja/pizza.png" alt="">
        </a>
    </div>
</div>