<link rel="stylesheet" href="./css/rezeptryan.css">
<div class="home-section-container index-column-reverse">
    <div class="home-img">
        <img src="./img/ryan/maccheese.jpeg" alt="mac and cheese">
    </div>
    <div class="excerpt">
        <div>
            <h2>Homemade Mac'n Cheese</h2>
            <p>
                Dieses einfache hausgemachte Rezept für Mac und Käse ist in 15 Minuten auf dem Herd zubereitet (kein Backen erforderlich)! Zeit, die Schachtel Mac and Cheese für dieses unwiderstehlich cremige, glatte und käsige hausgemachte Rezept wegzulassen!
            </p>
        </div>
        <a href="rezeptryan.html" class="button">Lesen Sie mehr...</a>
    </div>

    
</div>